body {
    font-family: Arial, sans-serif;
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    color: #333;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 20px;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-container input,
.form-container button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

.form-container button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.result-container {
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.result-container p {
    font-size: 1rem;
    margin: 5px 0;
}

.result-container p strong {
    color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .form-container input,
    .form-container button {
        width: 100%;
    }
}